<% include partial/Header.ejs%>

<h1><%= title %></h1>
<!-- P tag for info with me-->
<p><em><strong>My name is Zhen Zhang, and my friends call me Tony. I like web stuff, and I will keep warmth on it.I was using Php, Asp.Net,Html 5, JS.</strong></em></p>
<% include partial/Footer_all.ejs%>