<% include partial/Header.ejs%>
<!-- Header-->
<h1><%= title %></h1>
<!-- table with info-->
<table class="table">
  <thead>
    <tr>
    <th>  </th>
    <th>Project Name</th>
    <th>Link</th>
    </tr>
  </thead>
    <tbody>
      <tr class="active"> <th scope="row">1</th> <td>Restaurant</td> <td><a href="http://team-project2-part3.azurewebsites.net">http://team-project2-part3.azurewebsites.net</a></td></tr>
      <tr class="success"> <th scope="row">2</th> <td>Goods</td> <td><a href="http://www.pdstjw.com/">http://www.pdstjw.com/</a></td></tr>
    </tbody>
</table>

<% include partial/Footer_all.ejs%>