<% include partial/Header.ejs%>

<h1><%= title %></h1>
<!-- P tags -->
<p class="bg-primary">Php</p>
<p class="bg-success">Asp</p>
<p class="bg-info">Visual Studio</p>
<p class="bg-warning">Java Script</p>
<p class="bg-danger">Html 5</p>

<% include partial/Footer_all.ejs%>